version: '3.9'

services:
  api:
    build: .
    ports:
      - '4000:4000'
    env_file:
      - .env
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/gestion_eventos
    restart: unless-stopped
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: gestion_eventos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    restart: unless-stopped

volumes:
  postgres_data:
